<form [formGroup]="form" (submit)="onSubmit()">

  <app-gateway-selector formControlName="gateway"></app-gateway-selector>

  <mat-form-field class="full-width">
    <mat-label>Identifiant client</mat-label>
    <input matInput placeholder="ISAES12345U" formControlName="clientId">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Domaine</mat-label>
      <mat-select formControlName="domainId">
        <mat-option *ngFor="let domain of domains.list$ | async" [value]="domain.domainId">
          {{domain.name}}
        </mat-option>
      </mat-select>
  </mat-form-field>


  <mat-form-field class="full-width">
    <mat-label>Utilisateur</mat-label>
    <input matInput placeholder="" formControlName="userLogin">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Mot de passe</mat-label>
    <input matInput placeholder="" formControlName="userPassword">
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">Se connecter</button>
</form>


<ul *ngIf="form.valueChanges |async as values">
  <li>{{values.gateway}}</li>
  <li>{{values.clientId}}</li>
  <li>{{values.domainId}}</li>
  <li>{{values.userLogin}}</li>
</ul>
<div>Formulaire valide : {{form.valid}}</div>
