<mat-toolbar color="primary">
  <span>Test de l'API Geofolia</span>
  <div class="spacer" style="flex: auto"></div>
  <mat-spinner color="accent" diameter="30" *ngIf="httpState.loading | async"></mat-spinner>
</mat-toolbar>
<main>
  <div class="center">
    <div [formGroup]="form">

      <app-gateway-selector formControlName="gateway"></app-gateway-selector>

    </div>
  </div>
</main>

<div>Erreur: {{httpState.error | async}}</div>

<button (click)="test()">test</button>
<router-outlet></router-outlet>
