<mat-toolbar color="primary">
  <span>Test de l'API Geofolia</span>
  <div class="spacer" style="flex: auto"></div>
  <mat-spinner color="accent" diameter="30" *ngIf="httpState.loading | async"></mat-spinner>
</mat-toolbar>
<main>
  <div class="center">
    <div [formGroup]="form">

      <app-gateway formControlName="gateway"></app-gateway>

    </div>
  </div>
</main>
<!-- <ul>
  <li *ngFor="let gw of gateways.list$ |async">{{gw}}</li>
</ul>
<div>{{gateways.current$ | async }}</div> -->

<div>Erreur: {{httpState.error | async}}</div>
<router-outlet></router-outlet>
