<mat-toolbar color="primary">
  <span>Test de l'API Geofolia</span>
  <div class="spacer" style="flex: auto"></div>
  <mat-spinner color="accent" diameter="30" *ngIf="httpState.loading | async"></mat-spinner>
</mat-toolbar>
<main>
  <div class="center">
    <div [formGroup]="form">

      <app-gateway-selector formControlName="gateway"></app-gateway-selector>

      <mat-form-field class="full-width">
        <mat-label>Identifiant client</mat-label>
        <input matInput placeholder="ISAES12345U" formControlName="clientId">
      </mat-form-field>

    </div>
  </div>
</main>

<div>Erreur: {{httpState.error | async}}</div>

<button (click)="test()">test</button>
<router-outlet></router-outlet>
