<mat-form-field class="auto">
  <mat-label>Gateway</mat-label>
  <mat-select [value]="gateway" (valueChange)="onGatewayChange($event)" [disabled]="disabled">
    <mat-option *ngFor="let gw of gateways.list$ | async" [value]="gw">
      {{gw}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-icon-button color="primary" aria-label="Éditer la liste des Gateways" (click)="openGatewaysDialog()">
  <mat-icon>edit</mat-icon>
</button>
<button mat-icon-button color="primary" aria-label="Réinitialisation de la liste des Gateways" (click)="resetGateways()">
  <mat-icon>settings_backup_restore</mat-icon>
</button>

<ng-template #deleteConfirmationDialog>
  <h1 mat-dialog-title>Réinitialisation des Gateways</h1>
<div mat-dialog-content>
  Êtes-vous sûr de vouloir réinitialiser la liste des Gateways ?
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary" (click)="resetGateways(true);" aria-label="Réinitialisation de la liste des Gateways">Réinitialiser</button>
  <button mat-button mat-dialog-close aria-label="Fermer la fenêtre">Fermer</button>
</mat-dialog-actions>

</ng-template>
