// @import './material2';

/* You can add global styles to this file, and also import other style files */

html,body { width: 100%; height: 100vh; }
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}


* {
  box-sizing: border-box;
  // font-family: Poppins, "Helvetica Neue", sans-serif
}

.auto {
  flex: 1 auto;
}
