<h1 mat-dialog-title>Liste des Gateways</h1>
<div mat-dialog-content>
  <mat-list>

    <mat-list-item *ngFor="let gateway of gateways.list$| async as gateways">
      <app-gateway-dialog-item [gateway]="gateway" (update)="update($event)" (delete)="delete($event)" [displayDeleteBtn]="gateways.length > 1"></app-gateway-dialog-item>
    </mat-list-item>
    <!-- <mat-list-item> -->
    <!-- </mat-list-item> -->
  </mat-list>
  <div class="gateway padding">

    <mat-form-field class="example-full-width" class="auto min-width">
      <mat-label>Ajouter une Gateway</mat-label>
      <input matInput placeholder="Gateway" value="" #input>
    </mat-form-field>
    <button color="primary" mat-icon-button aria-label="Ajouter la Gateway" (click)="add(input.value)">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary" aria-label="Fermer la fenêtre">Fermer</button>
</mat-dialog-actions>
